Client/Service References/Mediation/mediation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="removeUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filesData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filesData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fileRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fileRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFiles">
        <s:complexType />
      </s:element>
      <s:element name="getFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsers">
        <s:complexType />
      </s:element>
      <s:element name="getUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActiveUsers">
        <s:complexType />
      </s:element>
      <s:element name="getActiveUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActiveUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isAdminResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="disable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="disableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="disableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAllFiles">
        <s:complexType />
      </s:element>
      <s:element name="deleteAllFilesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserSoapIn">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="removeUserSoapOut">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserSoapIn">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="updateUserSoapOut">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="logoutSoapIn">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutSoapOut">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="fileRequestSoapIn">
    <wsdl:part name="parameters" element="tns:fileRequest" />
  </wsdl:message>
  <wsdl:message name="fileRequestSoapOut">
    <wsdl:part name="parameters" element="tns:fileRequestResponse" />
  </wsdl:message>
  <wsdl:message name="getFilesSoapIn">
    <wsdl:part name="parameters" element="tns:getFiles" />
  </wsdl:message>
  <wsdl:message name="getFilesSoapOut">
    <wsdl:part name="parameters" element="tns:getFilesResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="getUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getActiveUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getActiveUsers" />
  </wsdl:message>
  <wsdl:message name="getActiveUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="isAdminSoapIn">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="isAdminSoapOut">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="enableSoapIn">
    <wsdl:part name="parameters" element="tns:enable" />
  </wsdl:message>
  <wsdl:message name="enableSoapOut">
    <wsdl:part name="parameters" element="tns:enableResponse" />
  </wsdl:message>
  <wsdl:message name="disableSoapIn">
    <wsdl:part name="parameters" element="tns:disable" />
  </wsdl:message>
  <wsdl:message name="disableSoapOut">
    <wsdl:part name="parameters" element="tns:disableResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAllFilesSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAllFiles" />
  </wsdl:message>
  <wsdl:message name="deleteAllFilesSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAllFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="MediationSoap">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input message="tns:removeUserSoapIn" />
      <wsdl:output message="tns:removeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="tns:updateUserSoapIn" />
      <wsdl:output message="tns:updateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutSoapIn" />
      <wsdl:output message="tns:logoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fileRequest">
      <wsdl:input message="tns:fileRequestSoapIn" />
      <wsdl:output message="tns:fileRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <wsdl:input message="tns:getFilesSoapIn" />
      <wsdl:output message="tns:getFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input message="tns:getUsersSoapIn" />
      <wsdl:output message="tns:getUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActiveUsers">
      <wsdl:input message="tns:getActiveUsersSoapIn" />
      <wsdl:output message="tns:getActiveUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input message="tns:isAdminSoapIn" />
      <wsdl:output message="tns:isAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enable">
      <wsdl:input message="tns:enableSoapIn" />
      <wsdl:output message="tns:enableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="disable">
      <wsdl:input message="tns:disableSoapIn" />
      <wsdl:output message="tns:disableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <wsdl:input message="tns:deleteAllFilesSoapIn" />
      <wsdl:output message="tns:deleteAllFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediationSoap" type="tns:MediationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="http://tempuri.org/removeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileRequest">
      <soap:operation soapAction="http://tempuri.org/fileRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <soap:operation soapAction="http://tempuri.org/getFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveUsers">
      <soap:operation soapAction="http://tempuri.org/getActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enable">
      <soap:operation soapAction="http://tempuri.org/enable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disable">
      <soap:operation soapAction="http://tempuri.org/disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <soap:operation soapAction="http://tempuri.org/deleteAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediationSoap12" type="tns:MediationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap12:operation soapAction="http://tempuri.org/removeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap12:operation soapAction="http://tempuri.org/updateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileRequest">
      <soap12:operation soapAction="http://tempuri.org/fileRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <soap12:operation soapAction="http://tempuri.org/getFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap12:operation soapAction="http://tempuri.org/getUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveUsers">
      <soap12:operation soapAction="http://tempuri.org/getActiveUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap12:operation soapAction="http://tempuri.org/isAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enable">
      <soap12:operation soapAction="http://tempuri.org/enable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disable">
      <soap12:operation soapAction="http://tempuri.org/disable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <soap12:operation soapAction="http://tempuri.org/deleteAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mediation">
    <wsdl:port name="MediationSoap" binding="tns:MediationSoap">
      <soap:address location="http://172.20.22.60/torrent/mediation.asmx" />
    </wsdl:port>
    <wsdl:port name="MediationSoap12" binding="tns:MediationSoap12">
      <soap12:address location="http://172.20.22.60/torrent/mediation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>